@import "tailwindcss";

@layer utilities {
  /* Esconde a barra no Chrome, Safari e Edge */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Esconde a barra no Firefox e IE/Edge antigo */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}